@model List<PhotoShare.Models.Photo>

@{
    // code block

    ViewData["Title"] = "Resplash - The internet's source for visuals";
}

<h1 class="fw-bold">Resplash</h1>
<div class="mb-4">
    The internet's source for visuals.<br />
    Powered by creators everywhere.
</div>


<div class="masonry-grid">
    @foreach (var item in Model)
    {
        string imageUrl = Url.Content("/photos/" + item.ImageFilename);

        <div class="masonry-grid-item">
            <a href="@Url.Action("PhotoDetails", "Home", new { id = item.PhotoId })">
                <img src="@imageUrl" class="img-fluid" alt="@item.Description" />
            </a>
        </div>
    }
</div>